{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        <div class="posts-wrapper">
            {% for post in posts %}
                <div class="post-wrapper">
                    <div class="post-wrapper-head">
                        <a class="post-title-link" href="{{ post.get_absolute_url }}">
                            <h2>{{ post.title }}</h2>
                        </a>
                        <div class="post-wrapper-head-right">
                            <span>{{ post.author }}</span>
                            <span>{{ post.published_at }}</span>
                        </div>
                    </div>
                    <div>
                        {{ post.content|safe|truncatewords_html:50 }}
                    </div>
                </div>
            {% empty %}
                <h1>Нет постов</h1>
            {% endfor %}
        </div>
    </div>
{% endblock content %}