@media (max-width: 1060px) {
    .navbar {
        font-size: 14px;
    }
}


@media (max-width: 991.5px) {
    .navbar {
        font-size: 16px;
    }

    ul {
        margin-bottom: 0 !important;
    }

    .navbar-right-part {
        flex-direction: column;
        gap: 10px !important;

        li {
            align-self: flex-start;
        }

        .nav-logo {
            margin-top: 5px;
        }

    }
}

@media (max-width: 768px) {
    .post-list-wrapper {
        .row {
            flex-direction: column-reverse;
            gap: 25px;
        }
        padding-left: 5px !important;
    }
} 